<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SalaryManagement.Dao.EmployeeDao">
    <select id="getDepartment" resultType="department">
        select * from tab_department where id = #{id}
    </select>
</mapper>